.root {
    width: 250px;
}

.media {
    padding-top: 56.25%;
}

.cardActions {
    display: flex;
    justify-content: flex-end;
}

.cardContentOne {
    width: 250px;
    height: 200px;
}

.cardContent {
    display: flex;
    flex-direction: column;
}

.productName {
    width: 220px;
}

.description {
    overflow: hidden;
    height: 50px;
}

main.content .grid {
    width: 100vw;
}

main.content {
    display: flex;
    justify-content: center;
    align-items: center;
}