@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600;1,800&display=swap');

nav.menu {
    display: flex;
    align-items: center;
    background-color: var(--bg-core);
}

nav.menu div.logo {
    padding: 0px 15px;
}

nav.menu div.logo img {
    height: 60px;
}

div.login {
    padding-right: 20px;
}

.markName {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.markName {
    font-size: 20pt;
    margin-bottom: -10px;
    font-family: 'Montserrat', sans-serif;
    color: #e7612c;
    font-weight: 700;
}

.markSubname {
    padding-left: 45px;
    font-size: 15pt;
    font-family: 'Montserrat', sans-serif;
    color: #00bfc6;
    font-weight: 700;
    margin-top: -5px;
}


.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.divInput {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.searchInput {
        height: 40px;
        border: 0;
        outline: 0;
        width: 100vh;
        background-image: #fff;
        border-radius: 20px;
        font-size: 15px;
        color: #4a4a4a;
        padding-left: 15px;
        justify-content: center; 
}

.searchButton {
    border: none;
}