nav.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-core);
}

nav.menu div.logo {
    padding: 0px 15px;
}

nav.menu div.logo img {
    height: 60px;
}

div.login {
    padding-right: 20px;
}

